
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

#navbar{
    display: flex;
    width:100%;
    padding: 10px 0px;
    background-color: #2874f0;
    justify-content:center;
    align-items: center;
}
#navbar>div{
    margin-left: 30px;
}

#navbar img{
    margin-left: 50px;
    width:105px;
    height:28px;
}
.search {
    background-color: white;
    padding: 8px;
    width: 300px;
    margin: 0px 10px;
    display: flex;
    justify-content: space-between;
    color: #2874f0;
    border:none;
    border-radius: 2px;
}

input {
    width: 93%;
    border: none;
    outline: none;
    font-size: 15px;
}

.loginbtn {
    padding: 7px 40px;
    background-color: white;
    border: none;
    outline: none;
    color: #2874f0;
    font-size: 15px;
    font-weight: 550;
    border-radius: 2px;
}

.moretab {
    margin: 0px 20px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}
.text{
    font-size: 18px;
    font-style: normal;
}
.droptab {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 250px;
    padding: 40px 30px 30px 30px;
    margin-left: -40px;
    border-radius: 20px;
}
.droptab a {
    color: black;
    font-weight: 400;
    padding: 5px 0px;
    text-decoration: none;
    margin-top: 5px;
    display: block;
}

.droptab a :hover {
    background-color: rgb(241, 239, 239);
}
i {
    margin-right: 10px;
    color: #2874f0;
}

hr {
    color: gray;
}

/* 2ndnavbar  */
#navbar2 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-content: start;
    text-align: center;
    padding: 10px;
    position: sticky;
    width: 100%;
    border:2px solid rgb(240, 240, 240);
}

#navimg {
    width: 70px;
    transform: scale(.96);
}

#navimg:hover {
    transform: scale(1.1);
}

#navbar2 p {
    font-size:smaller;
    font-weight: 600;
    color: rgb(45, 44, 44);
}
/* 2ndnavbarend */

/* itemsboxstartfirst */

#firstboxA {
    display: grid;
    width:100%;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(1,1fr);
    margin: auto;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#firstboxA>div {
    cursor: pointer;
    height: 240px;
    padding: 10px 2px;
    margin: 1px 1px;
    width: 138px;
    box-sizing: border-box;
    border: 0;
    text-align: center;

}

#firstboxA img {
    height: 50%;
    padding-left: 10px;
    transform: scale(.87);
}

#firstboxA img:hover {
    transform: scale(1);
}

#firstboxA a {
    text-decoration: none;
    color: #388e3c;
    font-size: 12px;
}

#firstboxA h6 {
    color: black;
    font-size: 14px;
}

#firstboxA p {
    color: #212121;
    opacity: .6;
    font-size: 13px;
    margin-top: 10px;
}
#slideshow>img{
    height:250px;
    width:100%;
    margin-top: 5px;
}
#firstboxB {
    display: grid;
    width:100%;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(1,1fr);
    margin: auto;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#firstboxB>div {
    cursor: pointer;
    height: 240px;
    padding: 10px 2px;
    margin: 1px 1px;
    width: 138px;
    box-sizing: border-box;
    border: 0;
    text-align: center;

}

#firstboxB img {
    height: 50%;
    padding-left: 10px;
    transform: scale(.87);
}

#firstboxB img:hover {
    transform: scale(1);
}

#firstboxB a {
    text-decoration: none;
    color: #388e3c;
    font-size: 12px;
}

#firstboxB h6 {
    color: black;
    font-size: 14px;
}

#firstboxB p {
    color: #212121;
    opacity: .6;
    font-size: 13px;
    margin-top: 10px;
}
h3{
    margin-top: 20px;
}

#firstboxC {
    display: grid;
    width:100%;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(1,1fr);
    margin: auto;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#firstboxC>div {
    cursor: pointer;
    height: 240px;
    padding: 10px 2px;
    margin: 1px 1px;
    width: 138px;
    box-sizing: border-box;
    border: 0;
    text-align: center;

}

#firstboxC img {
    height: 50%;
    padding-left: 10px;
    transform: scale(.87);
}

#firstboxC img:hover {
    transform: scale(1);
}

#firstboxC a {
    text-decoration: none;
    color: #388e3c;
    font-size: 12px;
}

#firstboxC h6 {
    color: black;
    font-size: 14px;
}

#firstboxC p {
    color: #212121;
    opacity: .6;
    font-size: 13px;
    margin-top: 10px;
}

#firstboxD {
    display: grid;
    width:100%;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(1,1fr);
    margin: auto;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#firstboxD>div {
    cursor: pointer;
    height: 240px;
    padding: 10px 2px;
    margin: 1px 1px;
    width: 138px;
    box-sizing: border-box;
    border: 0;
    text-align: center;

}

#firstboxD img {
    height: 50%;
    padding-left: 10px;
    transform: scale(.87);
}

#firstboxD img:hover {
    transform: scale(1);
}

#firstboxD a {
    text-decoration: none;
    color: #388e3c;
    font-size: 12px;
}

#firstboxD h6 {
    color: black;
    font-size: 14px;
}

#firstboxD p {
    color: #212121;
    opacity: .6;
    font-size: 13px;
    margin-top: 10px;
}

#firstboxE {
    display: grid;
    width:100%;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(1,1fr);
    margin: auto;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#firstboxE>div {
    cursor: pointer;
    height: 240px;
    padding: 10px 2px;
    margin: 1px 1px;
    width: 138px;
    box-sizing: border-box;
    border: 0;
    text-align: center;

}

#firstboxE img {
    height: 50%;
    padding-left: 10px;
    transform: scale(.87);
}

#firstboxE img:hover {
    transform: scale(1);
}

#firstboxE a {
    text-decoration: none;
    color: #388e3c;
    font-size: 12px;
}

#firstboxE h6 {
    color: black;
    font-size: 14px;
}

#firstboxE p {
    color: #212121;
    opacity: .6;
    font-size: 13px;
    margin-top: 10px;
}

#firstboxF {
    display: grid;
    width:100%;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(1,1fr);
    margin: auto;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#firstboxF>div {
    cursor: pointer;
    height: 240px;
    padding: 10px 2px;
    margin: 1px 1px;
    width: 138px;
    box-sizing: border-box;
    border: 0;
    text-align: center;

}

#firstboxF img {
    height: 50%;
    padding-left: 10px;
    transform: scale(.87);
}

#firstboxF img:hover {
    transform: scale(1);
}

#firstboxF a {
    text-decoration: none;
    color: #388e3c;
    font-size: 12px;
}

#firstboxF h6 {
    color: black;
    font-size: 14px;
}

#firstboxF p {
    color: #212121;
    opacity: .6;
    font-size: 13px;
    margin-top: 10px;
}

#firstboxG {
    display: grid;
    width:100%;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(1,1fr);
    margin: auto;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#firstboxG>div {
    cursor: pointer;
    height: 240px;
    padding: 10px 2px;
    margin: 1px 1px;
    width: 138px;
    box-sizing: border-box;
    border: 0;
    text-align: center;

}

#firstboxG img {
    height: 50%;
    padding-left: 10px;
    transform: scale(.87);
}

#firstboxG img:hover {
    transform: scale(1);
}

#firstboxG a {
    text-decoration: none;
    color: #388e3c;
    font-size: 12px;
}

#firstboxG h6 {
    color: black;
    font-size: 14px;
}

#firstboxG p {
    color: #212121;
    opacity: .6;
    font-size: 13px;
    margin-top: 10px;
}

/* footerstart */

#footer {
    background-color: #172337;
    color: white;
    padding: 15px 30px 0px 30px;
    height:370px;

}

#row1 {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

.footerDiv h6 {
    color: #878787;
    font-size: 11px;
    margin-bottom: 10px;
}

.footerDiv>div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    font-size: 11px;
    font-weight: 100;
}

.footerDiv a {
    color: white;
    line-height: 25px;
    font-size: 12px;
    text-decoration: none;
}

.footerDiv p {
    margin: 0;
    font-size: 12px;
    line-height: 20px;
}
#hr {
    border: 0.1px solid;
    height:140px;
    margin-left: 30px;
    margin-right: 10px;
    color: rgb(136, 133, 133);

}



#footer span {
    font-size: 14px;
    cursor: pointer;
}

#row2 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
